<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Favorites - Glibrary</title>
  	<h:outputStylesheet library="css" name="books.css"  />
  	<h:outputStylesheet library="css" name="search-bar.css"  />
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></link>
</h:head>
<h:body>
	<h:form id="logoutForm">
		<p>
			Bem vindo <h:outputText value="#{authenticationView.getUserName()}"/>!
			<h:commandLink action="#{authenticationView.doLogout}" value="sair"></h:commandLink>
		</p>
		<p:remoteCommand 
			name="favoritesFirebaseBooks" 
			actionListener="#{favoritesBooksView.getFavorites(authenticationView.getUser())}"
			oncomplete="loadBooksFavorites(xhr, status, args)"/>
		<p:remoteCommand 
			name="removeFirebaseBooks" 
			actionListener="#{favoritesBooksView.removeFavoriteBook(authenticationView.getUser())}"
 			oncomplete="favoritesFirebaseBooks()"/>
	</h:form>
	
    <div class="main">
	    <div class="container">
	      <div class="page-content">
	        <div class="col-md-12" id="page-content"></div>
	      </div>
	    </div>
    </div>

  <!-- EXTERNAL SCRIPTS -->  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js'></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  
  <!-- INTERNAL SCRIPTS -->
  <h:outputScript name="gallery.js" library="js"></h:outputScript>
  <h:outputScript name="favorites.js" library="js"></h:outputScript>
</h:body>
</html>
