<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Login - Glibrary</title>    
</h:head>
  <h:body>
	<h:form id="loginForm">
		<h3>Welcome</h3>
		<h:outputText value="E-mail" />
		<h:inputText id="userEmail" value="#{authenticationView.authentication.user.email}"></h:inputText>
		<h:message for="userEmail"></h:message>
		<br/><br/>
		
		<h:outputText value="Senha"/>
		<h:inputSecret id="userPassword" value="#{authenticationView.authentication.user.password}"></h:inputSecret>
		<br/>
		<h:message for="userPassword"></h:message>
		<br/><br/>
		
		<p:commandButton 
			id="btnLogin" 
			value="Login"
			onclick="generateFirebaseToken()"/> 
			
		<p:remoteCommand 
				name="doLogin"
				id="doLogin"
                actionListener="#{authenticationView.doLogin}"/>
	</h:form>
	
	<!-- INTERNAL SCRIPTS -->
	<h:outputScript name="login.js" library="js"></h:outputScript>
	
	<!-- FIREBASE SCRIPTS -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase
        var firebaseConfig = {
            apiKey: "AIzaSyABu9fd5I932JN68EjxPlcAAtsljoFQbSg",
            authDomain: "library-gbooks.firebaseapp.com",
            databaseURL: "https://library-gbooks.firebaseio.com",
            projectId: "library-gbooks",
            storageBucket: "library-gbooks.appspot.com",
            messagingSenderId: "711620461645",
            appId: "1:711620461645:web:30960c1528e1d23b018804",
            measurementId: "G-4764X2PMJ0"
        };
        firebase.initializeApp(firebaseConfig);
        
        var db = firebase.firestore();
    </script>
    
  </h:body>
</html>