<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Favorites - Glibrary</title>
  	<h:outputStylesheet library="css" name="books.css"  />
  	<h:outputStylesheet library="css" name="search-bar.css"  />
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></link>
</h:head>
<h:body>
	<h:form id="logoutForm">
		<p>
			Bem vindo <h:outputText value="#{authenticationView.getUserName()}"/>!
			<h:commandLink action="#{authenticationView.doLogout}" value="sair"></h:commandLink>
		</p>
		<p:remoteCommand 
			name="getGBooksByNameAndIndex" 
			id="getGbooks"	
			actionListener="#{searchView.getSearchFromJs(authenticationView.getUser())}"
 			oncomplete="applyResponseOfRequestGbooks(xhr, status, args)"/>
		<p:remoteCommand 
			name="addFirebaseBooks" 
			id="addFavoriteBook"	
			actionListener="#{searchView.addFavoriteBook(searchView.search)}"
 			oncomplete="loadBooksSearched()"/>
		<p:remoteCommand 
			name="removeFirebaseBooks" 
			actionListener="#{searchView.removeFavoriteBook(searchView.search)}"
 			oncomplete="loadBooksSearched()"/>
	</h:form>
	
    <div class="main">
	    <div class="container">
	      <div class="search-container">
	        <input type="text" id="search-bar" placeholder="Qual livro você gostaria de encontrar?" />
	        <label id="btn-search" style="display: inline;">
	          <img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png" />
	        </label>
	      </div>
	      <!-- <div class="col-sm-12" id="total-books-group">
	        <label>Total de resultados: </label>
	        <label id="total-books-value"></label>
	      </div> -->
	      <div class="page-content">
	        <div class="col-md-12" id="page-content"></div>
	      </div>
	    </div>
    </div>

  <!-- pagination -->
  <div class="main">
    <ul id="pagination-demo" class="pagination-sm"></ul>
  </div>

  <!-- EXTERNAL SCRIPTS -->  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js'></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  
  <!-- INTERNAL SCRIPTS -->
  <h:outputScript name="gallery.js" library="js"></h:outputScript>
</h:body>
</html>
